mat-card.optimizationCard {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: 500px;
}

mat-card-content {
  height: calc(100% - 36px);
  width: 100%;
  overflow: hidden;
}

div.rowSep {
  margin-bottom: 20px;
}
