<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div>
    <app-file-upload
      formControlName="file"
      [acceptedType]="acceptedFileType"
    ></app-file-upload>
    <mat-form-field *ngIf="uploadForm.value?.file?.name?.endsWith('.csv')">
      <mat-label>Column separator</mat-label>
      <input
        matInput
        type="text"
        formControlName="separator"
        placeholder="e.g. ;"
      />
    </mat-form-field>
  </div>
  <div *ngIf="loading" id="loadingIndicator">
    <p>Processing Log</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <button
    id="nextButton"
    mat-raised-button
    matStepperNext
    color="primary"
    type="submit"
    [disabled]="uploadForm.invalid || uploadForm.disabled"
  >
    Next
  </button>
</form>
