<h1 mat-dialog-title>Inspect first 100 rows of the Event-Log</h1>
<section class="table-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    <mat-text-column
      *ngFor="let column of columns"
      [name]="column"
    ></mat-text-column>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</section>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
