mat-card {
  box-shadow: none !important;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin-bottom: 10px;
}

// mat-expansion-panel-header {
//   height: 100px;
// }

.mat-checkbox {
  padding: 10px;
}

.mat-expansion-panel-header-description {
  flex-basis: 70%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.selectionButton {
  margin-right: 5px;
  margin-bottom: 5px;
}

.controlButton {
  margin-top: 10px;
}

.invalid {
  border: solid 2px red;
}
