@use "@angular/material" as mat;

@use "./styles/themes/light";

@include mat.core();

@include mat.core-theme(light.$my-app-light-theme);
@include mat.all-component-themes(light.$my-app-light-theme);

$color-config: mat.get-color-config(light.$my-app-light-theme);
$primary-palette: map-get($color-config, "primary");

.event-log-control-bar {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
table {
  width: 100%;
}

.logRow {
  cursor: pointer;
}

.logRow:hover {
  font-weight: bold;
}

.selectedLogRow {
  background-color: mat.get-color-from-palette($primary-palette, 50);
}
#noDataRow {
  text-align: center;
}
